.banner_img_mobile {
  display: none;
}
.banner_img {
  width: 100%;
  max-width: 2520px;
  height: auto;
  position: relative;
}
@media screen and (max-width: 35em) {
  .banner_img_mobile {
    display: block;
  }

  .banner_img {
    display: none;
  }
}
