.navbar {
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 111111111;
}

.navbar_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 16px;
}

.navbar_container_left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

/* //-------RIGHT */
/* custome css navbar */

.navbar_container_right_collection {
  cursor: pointer;
}

/* init css navbar */
.navbar_container_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 0.5fr 1fr 0.3fr;
  gap: 1rem;
  align-items: center; */
  /* align-self: flex-end; */
}

.navbar_container_right_discover {
  position: relative;
  cursor: pointer;
  p {
    margin: 0;
  }
}
.navbar_container_right_help {
  position: relative;
  cursor: pointer;
  p {
    margin: 0;
  }
}

.navbar_container_right_discover_box,
.navbar_container_right_help_box {
  position: absolute;
  top: 100%;
  left: -50%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  width: 15rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 5px slategrey;
  z-index: 99999999999999;
}

.navbar_container_right_notify {
  position: relative;
  cursor: pointer;
}

.notify {
  font-size: 1.75rem;
}

.navbar_container_right_cart,
.navbar_container_right_metamask {
  position: relative;
  cursor: pointer;
}

.cart_icons {
  font-size: 1.75rem;
}

.navbar_container_right_metamask {
  font-size: 1.75rem;
}

.navbar_container_right_button {
  position: relative;
  cursor: pointer;
}

.navbar_container_right_profile_box {
  position: relative;
  cursor: pointer;
}

.navbar_container_right_profile {
  border-radius: 50%;
}

.navbar_container_right_menuBtn {
  display: none;
}

.menuIcon {
  font-size: 2.5rem;
  cursor: pointer;
}

/* /////------SIDEBAR */

.sideBar {
  position: fixed;
  top: 0;
  width: 24rem;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  height: 100vh;
  overflow-y: auto;
  display: none;
  z-index: 11111;
}

.sideBar::-webkit-scrollbar {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.logo p {
  margin: 0;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .navbar_container {
    grid-template-columns: 1fr 1fr;
  }

  .navbar_container_left {
    grid-template-columns: 1fr;
  }

  .navbar_container_right {
    grid-template-columns: repeat(3, 1fr);
  }

  .navbar_container_right_menuBtn {
    display: block;
  }

  .navbar_container_left_box_input_box {
    display: none;
  }
  .navbar_container_right_discover {
    display: none;
  }

  .navbar_container_right_help {
    display: none;
  }

  .navbar_container_right_button {
    display: none;
  }

  .sideBar {
    display: block;
  }
}
