.search_container {
  width: 100%;
  border: 1px solid var(--icons-color);
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 8px;
  background-color: white;
  margin-right: 16px;
  border: unset;
  position: relative;
  border: 1px solid #8a939b;

  .search_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border: unset;
    cursor: text;
    font-size: 16px;
    font-weight: 500;

    &::placeholder {
      color: #8a939b;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .search_icon {
    cursor: pointer;
    font-size: 1.4rem;
    color: #8a939b;
    font-weight: 600;
  }

  .search_filter_container {
    position: absolute;
    width: 100%;
    background-color: white;
    top: 140%;
    right: 0;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px slategrey;

    .search_loading {
      margin: 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search_notify {
      color: #8a939b;
      font-weight: 400;
      font-size: 14px;
      margin-top: 8px;
    }

    strong {
      // padding: 16px;
      margin-bottom: 8px;
      display: block;
      font-weight: 600;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .search_collections_item,
    .search_item {
      display: flex;
      font-size: 14px;

      margin: 16px 0;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: 0.2s all;
      &:hover {
        background-color: #fafafb;
      }
    }

    .search_collection_description,
    .search_item_description {
      flex: 1;
      margin-left: 8px;
      line-height: 12px;

      p:last-child {
        margin-top: 4px;
        color: #8a939b;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
      }
    }

    .search_collection_img,
    .search_item_img {
      border-radius: 50%;
      object-fit: cover;
      background-position: center;
    }

    .search_collection_price,
    .search_item_price {
      color: #8a939b;
      font-weight: 500;
    }
  }
}
