.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white;

  @apply bg-blue-500 font-semibold rounded-sm;
}

.css-1aquho2-MuiTabs-indicator {
  display: none;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 16px;
  font-weight: 600;
  @apply px-6 py-3;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-family: 'Poppins', sans-serif !important;
  color: #4c5773;
}
